.root{
  -fx-background-image: url("background.jpg");
  

}

.label {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #FFFFFF;

}

.button {
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
}